USE [valuecorn]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertCompany]    Script Date: 25/09/2025 6:37:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_UpsertCompany]
    @CompanyId INT = NULL,              -- If NULL → Insert, else → Update
    @CompanyCode VARCHAR(50),
    @CompanyName NVARCHAR(255),
    @CountryCode VARCHAR(10),
    @IndustryCode VARCHAR(50),
    @Currency VARCHAR(10),
    @FiscalYearEnd TINYINT = NULL,
    @SharesOutstanding DECIMAL(18,2) = NULL,
    @NetDebt DECIMAL(18,2) = NULL,
    @CashBalance DECIMAL(18,2) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @CompanyId IS NULL
    BEGIN
        INSERT INTO dbo.Companies
        (
            CompanyCode,
            CompanyName,
            CountryCode,
            IndustryCode,
            Currency,
            FiscalYearEnd,
            SharesOutstanding,
            NetDebt,
            CashBalance,
            CreatedAt,
            UpdatedAt
        )
        VALUES
        (
            @CompanyCode,
            @CompanyName,
            @CountryCode,
            @IndustryCode,
            @Currency,
            @FiscalYearEnd,
            @SharesOutstanding,
            @NetDebt,
            @CashBalance,
            GETUTCDATE(),
            GETUTCDATE()
        );

        SET @CompanyId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        UPDATE dbo.Companies
        SET
            CompanyCode        = @CompanyCode,
            CompanyName        = @CompanyName,
            CountryCode        = @CountryCode,
            IndustryCode       = @IndustryCode,
            Currency           = @Currency,
            FiscalYearEnd      = @FiscalYearEnd,
            SharesOutstanding  = @SharesOutstanding,
            NetDebt            = @NetDebt,
            CashBalance        = @CashBalance,
            UpdatedAt          = GETUTCDATE()
        WHERE CompanyId = @CompanyId;
    END

    -- Return final CompanyId
    SELECT @CompanyId AS CompanyId;
END;
