/* You can add global styles to this file, and also import other style files */
.navbar-brand {
    font-size: 1.5rem;
    color: #1a1a1a;
  }
  .nav-link {
    margin-left: 1rem;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.snackbar-success {
  background: #2e7d32; /* green */
  color: #fff;
}

.snackbar-error {
  background: #c62828; /* red */
  color: #fff;
}

.snackbar-info {
  background: #1565c0; /* blue */
  color: #fff;
}
