<mat-horizontal-stepper class="company-stepper" [linear]="false">
  
  <!-- Step 1: Basic Company Info -->
  <mat-step [stepControl]="basicInfoForm" label="Basic Info">
    <form [formGroup]="basicInfoForm" class="form-grid mt-2">

      

      <mat-form-field appearance="outline">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName" placeholder="Registered legal name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Company Code</mat-label>
        <input matInput formControlName="companyCode" placeholder="Unique code">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Trade Name</mat-label>
        <input matInput formControlName="tradeName" placeholder="Brand / trade name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date of Incorporation</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfIncorporation">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <mat-select formControlName="countryCode">
          <mat-option *ngFor="let c of countries" [value]="c.CountryCode">
            {{ c.CountryName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Industry</mat-label>
        <mat-select formControlName="industryCode">
          <mat-option *ngFor="let i of industries" [value]="i.IndustryCode">
            {{ i.IndustryName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Legal Structure</mat-label>
        <input matInput formControlName="legalStructure" placeholder="LLC / Branch / FZ-LLC">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Business License Number</mat-label>
        <input matInput formControlName="businessLicenseNumber" placeholder="License No.">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>License Expiry Date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="licenseExpiryDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Official Phone</mat-label>
        <input matInput formControlName="officialPhone" placeholder="+971 50 123 4567">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Official Email</mat-label>
        <input matInput formControlName="officialEmail" type="email" placeholder="info@company.com">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Website</mat-label>
        <input matInput formControlName="website" placeholder="https://company.com">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Currency</mat-label>
        <input matInput formControlName="currency" placeholder="AED / USD">
      </mat-form-field>
    </form>

    <div class="step-actions">
      <button mat-raised-button color="primary" (click)="saveBasicInfo()">Next:&nbsp;Address</button>
    </div>
  </mat-step>
    
  <!-- Step 1: Address Info -->
<!-- Step 2: Addresses -->
<mat-step [stepControl]="addressFormGroup" label="Addresses">
  <form [formGroup]="addressFormGroup">

    <!-- Registered Address -->
    <h4 class="section-header">Registered Address</h4>
    <div formGroupName="registered" class="form-grid">
      <mat-form-field appearance="outline">
        <mat-label>Address Line</mat-label>
        <input matInput formControlName="addressLine">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <input matInput formControlName="state">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Postal Code</mat-label>
        <input matInput formControlName="postalCode">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>P.O. Box</mat-label>
        <input matInput formControlName="poBox">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <mat-select formControlName="countryCode">
          <mat-option *ngFor="let c of countries" [value]="c.CountryCode">
            {{ c.CountryName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Checkbox -->
    <mat-checkbox formControlName="sameAsRegistered" (change)="toggleSameAsRegistered()">
      Same as Registered Address
    </mat-checkbox>

    <!-- Operational Address -->
    <h4 class="section-header">Operational Address</h4>
    <div formGroupName="operational" class="form-grid">
      <mat-form-field appearance="outline">
        <mat-label>Address Line</mat-label>
        <input matInput formControlName="addressLine">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <input matInput formControlName="state">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Postal Code</mat-label>
        <input matInput formControlName="postalCode">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>P.O. Box</mat-label>
        <input matInput formControlName="poBox">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <mat-select formControlName="countryCode">
          <mat-option *ngFor="let c of countries" [value]="c.CountryCode">
            {{ c.CountryName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="step-actions">
      <button mat-raised-button color="primary" (click)="saveAddresses()">Save & Continue</button>
    </div>
  </form>
</mat-step>

<!-- FINANCIAL INFO  -->
<mat-step [stepControl]="financialTaxForm" label="Financial & Tax Information">
  <form [formGroup]="financialTaxForm" class="mt-2 financial-tax-form">

    <!-- Wrap both groups in flex row -->
    <div class="form-groups-row">

      <!-- Financials -->
      <div class="form-group-box" formGroupName="financials">
        <h4 class="section-header">Financial Information</h4>
        <div class="form-inline">
          <mat-form-field appearance="outline">
            <mat-label>Fiscal Year End</mat-label>
            <mat-select formControlName="fiscalYearEnd">
              <mat-option *ngFor="let m of months" [value]="m.value">{{ m.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Accounting Standards</mat-label>
            <input matInput formControlName="accountingStandards" placeholder="IFRS / GAAP" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>External Auditor</mat-label>
            <input matInput formControlName="externalAuditor" placeholder="Auditor Name" />
          </mat-form-field>
        </div>
      </div>

      <!-- Tax -->
      <div class="form-group-box" formGroupName="tax">
        <h4 class="section-header">Tax Information</h4>
        <div class="form-inline">
          <mat-form-field appearance="outline">
            <mat-label>VAT Registration No</mat-label>
            <input matInput formControlName="vatRegNo" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>VAT Date</mat-label>
            <input matInput [matDatepicker]="vatDatePicker" formControlName="vatDate">
            <mat-datepicker-toggle matSuffix [for]="vatDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #vatDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Corporate Tax Reg No</mat-label>
            <input matInput formControlName="corporateTaxRegNo" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Corporate Tax Date</mat-label>
            <input matInput [matDatepicker]="corpTaxDatePicker" formControlName="corporateTaxDate">
            <mat-datepicker-toggle matSuffix [for]="corpTaxDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #corpTaxDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Free Zone Benefit</mat-label>
            <input matInput formControlName="freeZoneBenefit" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Exemptions</mat-label>
            <textarea matInput formControlName="exemptions"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

 
    <!-- Step Actions -->
    
   <div class="step-actions">
      <button mat-raised-button color="primary" (click)="saveFinancialTax()">Save & Continue</button>
    </div>
    
  </form>
</mat-step>

<!-- SHAREHOLDERS -->
<mat-step [stepControl]="shareholdersForm" label="Shareholders">
  <form [formGroup]="shareholdersForm">
    <div formArrayName="rows">
      <table mat-table [dataSource]="shareholdersData" class="full-width-table ">

        <!-- Name -->
        <ng-container matColumnDef="shareholderName" >
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
            <mat-form-field appearance="outline">
              <input matInput formControlName="shareholderName">
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Nationality -->
        <ng-container matColumnDef="nationality">
          <th mat-header-cell *matHeaderCellDef> Nationality </th>
          <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
            <mat-form-field appearance="outline">
              <input matInput formControlName="nationality">
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Type -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
            <mat-select formControlName="type">
              <mat-option value="Individual">Individual</mat-option>
              <mat-option value="Corporate">Corporate</mat-option>
            </mat-select>
          </td>
        </ng-container>

        <!-- Percentage -->
        <ng-container matColumnDef="percentage">
          <th mat-header-cell *matHeaderCellDef> % </th>
          <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
            <mat-form-field appearance="outline">
              <input matInput type="number" formControlName="percentage">
            </mat-form-field>
          </td>
        </ng-container>

        <!-- UBO -->
        <ng-container matColumnDef="isUbo">
          <th mat-header-cell *matHeaderCellDef> Is UBO? </th>
          <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
            <mat-checkbox formControlName="isUbo"></mat-checkbox>
          </td>
        </ng-container>

        <!-- UBO ID -->
        <ng-container matColumnDef="uboId">
          <th mat-header-cell *matHeaderCellDef> UBO Id </th>
          <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
            <mat-form-field appearance="outline">
              <input matInput formControlName="uboId">
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let row; let i = index">
            <button mat-icon-button color="primary" (click)="saveRow(i)">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteRow(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns" class="mt-3"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;" ></tr>
      </table>
    </div>

    <div class="step-actions">
      <button mat-raised-button color="accent" type="button" (click)="addRow()">+ Add Row</button>
      <button mat-raised-button color="primary" type="button" (click)="commitShareholders()">Save & Continue</button>
    </div>
  </form>
</mat-step>







  <!-- Step 2: Review -->
  <mat-step label="Review">
    <mat-card class="review-card">
      <h3>Review Company Details</h3>
      <p><strong>Code:</strong> {{ basicInfoForm.value.companyCode }}</p>
      <p><strong>Name:</strong> {{ basicInfoForm.value.companyName }}</p>
      <p><strong>Trade Name:</strong> {{ basicInfoForm.value.tradeName }}</p>
      <p><strong>Date of Incorporation:</strong> {{ basicInfoForm.value.dateOfIncorporation | date }}</p>
      <p><strong>Country:</strong> {{ basicInfoForm.value.countryCode }}</p>
      <p><strong>Industry:</strong> {{ basicInfoForm.value.industryCode }}</p>
      <p><strong>Legal Structure:</strong> {{ basicInfoForm.value.legalStructure }}</p>
      <p><strong>License No.:</strong> {{ basicInfoForm.value.businessLicenseNumber }}</p>
      <p><strong>License Expiry:</strong> {{ basicInfoForm.value.licenseExpiryDate | date }}</p>
      <p><strong>Phone:</strong> {{ basicInfoForm.value.officialPhone }}</p>
      <p><strong>Email:</strong> {{ basicInfoForm.value.officialEmail }}</p>
      <p><strong>Website:</strong> {{ basicInfoForm.value.website }}</p>
      <p><strong>Currency:</strong> {{ basicInfoForm.value.currency }}</p>
    </mat-card>

    <div class="step-actions">
      <button mat-raised-button color="accent" (click)="saveBasicInfo()">Finish Setup</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
